<ion-view view-title="Friends">
  <ion-content>
    <h3 class="positive" style="position:relative;top:15px;text-align:center;">Coming soon...</h3>
    	<div class="list list-inset">
		    <div class="item item-icon-left positive">
		    	<i class="icon ion-ios7-personadd-outline"></i> Share ideas with friends
		    </div>
		    <div class="item item-icon-left positive">
		    	<i class="icon ion-ios7-people-outline"></i> Share ideas with groups
		    </div>
		    <div class="item item-icon-left positive">
		    	<i class="icon ion-ios7-eye-outline"></i> Follow innovative people
		    </div>
		    <div class="item item-icon-left positive">
		    	<i class="icon ion-ios7-chatboxes-outline"></i> Get/give feedback on ideas
		    </div>
		    <div class="item item-icon-left positive">
		    	<i class="icon ion-ios7-loop"></i> Collaborate on ideas
		    </div>
		</div>
  </ion-content>
</ion-view>
