<ion-view view-title="Login" class="login">
    <div class="login-background"></div>
    <div class="login-shadow"></div>
    <ion-content class="padding" style="height:200px;top:50%;margin-top:-100px;">
        <div class="list card padding login-card">
            <h4 class="positive">ideabook</h4>
            <h5>a place for your creativity</h5>
            <hr class="positive">
            <button class="button button-full button-positive" ng-click="logInWithFacebook()">
                <i class="ion-social-facebook" style="margin-right:10px;"></i>Log in
            </button>
        </div>
    </ion-content>
</ion-view>



<!-- <ion-view view-title="Login">
    <ion-content class="padding">
        <div class="list card padding">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.pwdForLogin">
            </label>
            <button ng-click="signIn(user)" class="button button-block button-positive activated">
                Sign In
            </button>
        </div>
        <div class="list" style="text-align:center">
            <button ng-click="modal.show()" class="button button-small button-outline icon-left ion-person-add button-positive">
                Create New Account
            </button>
        </div>
    </ion-content>
</ion-view> -->