<ion-view view-title="Edit Idea">
	<ion-nav-buttons side="right">
    	<button class="button button-icon" ng-click="saveIdea(idea)">
      		<i class="icon ion-ios7-plus-outline positive"></i>
    	</button>
  	</ion-nav-buttons>
	<ion-content class="padding">
		<div class="list">
			<label class="item item-input item-stacked-label" ng-class="{error: errors.date, noError:idea.date}">
				<span class="input-label positive">Date</span>
				<input type="date" ng-model="idea.date">
			</label>
			<label class="item item-input item-stacked-label" ng-class="{error: errors.title, noError:idea.title}">
				<span class="input-label positive">Idea Title</span>
				<input type="text" placeholder="Name your idea" ng-model="idea.title">
			</label>
			<label class="item item-input item-stacked-label" ng-class="{error: errors.description, noError:idea.description}">
				<span class="input-label positive">Description</span>
				<textarea placeholder="Tell me about your idea" style="min-height:100px;" ng-model="idea.description"></textarea>
			</label>
		</div>
		<div class="list">
			<label class="item item-input item-select" ng-class="{error: errors.category, noError:idea.category}">
				<div class="input-label positive">Category</div>
				<select ng-model="idea.category" ng-options="c.$id as c.name for c in categories"></select>
			</label>
		</div>

		<div class="list">
            <fancy-select header-text="Select Privacy Settings" allow-empty='false' value="privacy" text="privacy" items="privacyOptions" multi-select="true"></fancy-select>
		</div>

	    <script id="fancy-select.html" type="text/ng-template">
		    <div class="list">
				<label class="item item-input item-stacked-label" ng-click="showItems($event)">
					<span class="input-label positive">Privacy Settings</span>
					<div style="font-size:14px;">
						<i class="{{value.icon}}" style="margin-right:10px;"></i>{{value.option}}
					</div>
				</label>
			</div>
	    </script>

        <script id="fancy-select-items.html" type="text/ng-template">
            <ion-view class="fancy-select-items modal">
              	<ion-header-bar class="bar-positive">
                	<h1 class="title">{{headerText}}</h1>
                	<button ng-click="hideItems()" class="button button-positive button-icon ion-checkmark"></button>
             	 </ion-header-bar>
              	<ion-content>
                	<div class="list">
                  		<ion-toggle ng-repeat="item in items" ng-if="multiSelect" ng-checked="item.checked" ng-model="item.checked" class="item item-text-wrap" ng-click="selectOption(item)">
                    		<div class="fancy-select-icon" ng-if="item.icon!=null">
                      			<i class="{{item.icon}}"></i>
                    		</div>
                    		{{item.option}}
                  		</ion-toggle>
                	</div>
             	 </ion-content>
            </ion-view>
        </script>


		<button class="button button-block button-positive" ng-click="saveIdea(idea)">Save</button>
	</ion-content>
</ion-view>
