<ion-view view-title="{{idea.title}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="showActionsheet()">
      <i class="icon ion-navicon"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="">
    <div class="list card">
      
      <ion-item class="item-remove-animate item-icon-left" type="item-text-wrap">
        <i class="icon ion-{{category.icon}}" style="color:{{category.color}};"></i>
        <h2>{{idea.title}}</h2>
        <p class="timestamp">{{category.name}}</p>
      </ion-item>
      <div class="item item-body">
        <p style="margin-top:0;">{{idea.description}}</p>
        <p class="timestamp" style="font-size:10px;">{{idea.date}}</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
