<ion-view view-title="{{activeCategory.name}} Ideas">
  <ion-nav-buttons side="left">
    <button class="button button-icon" ng-click="openSidemenu()">
      <i class="icon ion-ios7-settings" ng-class="{balanced:activeCategory}"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button back-button buttons button-clear header-item" href="#/tab/ideas/new">
      <span class="back-text positive">new</span>
      <i class="icon ion-ios7-plus-empty positive"></i>
    </a>
  </ion-nav-buttons>

  <ion-side-menus>
    <ion-side-menu-content>
      <ion-content>
        <ion-list>
          <ion-item class="item-remove-animate item-icon-left item-icon-right" ng-repeat="idea in ideas | filterByProperty:'category':activeCategory.$id | orderBy:orderByDate" type="item-text-wrap" href="#/tab/ideas/{{idea.$id}}">
            <i class="icon ion-{{getCategory(idea.category).icon}}" style="color:{{getCategory(idea.category).color}};"></i>
            <h2>{{idea.title}}</h2>
            <p>{{idea.description}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
        <ion-pane ng-if="!(ideas | filterByProperty:'category':activeCategory.$id).length" style="overflow:visible;">
          <div style="padding: 50px 20px;margin: 20px;" ng-if="!ideasLoaded">
            <div ng-include src='"templates/partials/loader.html"'></div>
          </div>
          <div style="padding: 50px 20px;margin: 20px;" ng-show="ideasLoaded && !ideas.length" class="slow-show">
            <h5 class="positive" style="text-align:center;">You have no ideas</h5>
            <a href="#/tab/ideas/new" class="button button-block button-outline button-positive">
              <i class="icon ion-ios7-lightbulb-outline"></i> Create one
            </a>
          </div>
           <div style="padding: 50px 20px;margin: 20px;" ng-show="ideasLoaded && ideas.length" class="slow-show">
            <h5 class="positive" style="text-align:center;">No ideas for this filter</h5>
            <a href="#/tab/ideas/new" class="button button-block button-small button-positive">
              <i class="icon ion-ios7-lightbulb-outline"></i> Make one
            </a>
            <div ng-click="openSidemenu()" class="button button-block button-small button-outline button-positive">
              Select another category
            </div>
          </div>
        </ion-pane>
      </ion-content>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" class="dark">
      <ion-content>
        <ion-list class="category-sidebar">
          <div class="item item-divider bar-dark" style="text-align:center;">
            <h2 class="title">Categories</h2>
          </div>
          <ion-item ng-click="filterCategory(undefined)" class="item-icon-left" ng-class="{active:!activeCategory}">
            <i class="icon ion-earth"></i>All Ideas <span class="badge badge-positive">{{numChildren(ideas)}}</span>
          </ion-item>
          <ion-item ng-repeat="category in categories" ng-click="filterCategory(category)" class="item-icon-left" ng-class="{active:activeCategory==category}" ng-if="category.name!==' New Category'">
            <i class="icon ion-{{category.icon}}"></i>
            {{category.name}} <span class="badge badge-positive">{{numChildren(category.ideas)}}</span>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-footer-bar ng-if="activeCategory" style="z-index:100;" class="item-remove-animate">
        <div class="button-bar">
          <a class="button button-positive"><i class="ion-edit"></i> Edit</a>
          <a class="button button-positive" ng-click="deleteCategory(activeCategory)"><i class="ion-ios7-trash-outline"></i> Delete</a>
          <a class="button button-positive" ng-click="clearCategory(activeCategory)"><i class="ion-ios7-refresh-outline"></i> Clear</a>
        </div>
      </ion-footer-bar>
    </ion-side-menu>

  </ion-side-menus>
</ion-view>