label.error .input-label{
	color:red;
}
label.noError .input-label{
	color:#387ef5;
}

.selectRow{
	overflow:hidden;
	padding-right:16px;
}

.selectRow .box{
	height:20px;
	padding:0;
	width:12%;
	float:left;
	margin:5px 0.25% 0;
	border:1px solid transparent;
	border-radius:3px;
	box-sizing:border-box;
	opacity:0.9;
}

.selectRow .box.current{
	opacity:1;
}

.selectRow .box i{
	font-size:10px;
	line-height:18px;
	height:20px;
	padding:0;
	width:100%;
	color:white;
}

.selectRow .box.big{
	background:rgba(0,0,0,0.05);
	height:40px;
}
.selectRow .box.big i{
	color:#222;
	font-size:1.5em;
}
.selectRow .box.big.current{
	background:#387ef5;
}
.selectRow .box.big.current i{
	color:white;
}



/* dark list */
.dark {
  background-color: #325287 !important;
  color: #ffffff;
}
.dark .bar-dark{
  background-color: #1C3F7A !important;
  color: #ffffff;
  border-bottom:1px solid white !important;
}
.dark .scroll-content {
	background-color: #1C3F7A !important;
}
.dark .bar-footer{
	background:none;
}

.dark .item {
  background-color: #1C3F7A;
  border:none;
  border-bottom:  1px solid rgba(255,255,255,0.25);
  font-size:12px;
  color:white;
  max-height: none;
}
.dark .item:first-child {
  /*border-top: 1px solid rgba(255,255,255,0.25);*/
}
.dark .item:last-child {
  border-bottom: 1px solid rgba(255,255,255,0.25);
  margin-bottom:42px;
}
.dark .item.current {
  background-color: #262727 !important;
  border-top: 1px solid #464646 !important;
  border-bottom: 2px solid #333333 !important;
}
.dark .item.current p, .dark .item.current h3 {
  opacity: .7;
}
.dark h2,
.dark h3,
.dark p {
  color: #F0F1F1;
}

.dark-head {
  text-decoration: none;
}

.category-sidebar .item{
	opacity:0.75;
}
/*.category-sidebar .item i{
	opacity:0.5;
}*/
.category-sidebar .item.active{
	opacity:1;
	background-color: #395d9a;
}
/*.category-sidebar .item.active i{
	opacity:1;
}*/
/* dark list */


.popover-backdrop.active {
	background-color: rgba(0, 0, 0, 0.25);
}

.bar .title{
	font-size:15px;
	left:75px !important;
	right:75px !important;
}

.popup-body{
	text-align:center;
}


.slow-show {
  -webkit-transition:all linear 1s;
  transition:all linear 1s;
}
.slow-show.ng-hide {
  opacity:0;
}

.timestamp{
	color:rgba(0,0,0,0.25)!important;
	font-size:12px;
}

/* login screen */
.login-shadow{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
}
.login-background{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: url('/img/spark.jpg') no-repeat center/cover;
	/*-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);*/
}
.login-card{
	background:rgba(0,0,0,0.8);
	text-align:center;
	color:white;
	border:1px solid rgba(255,255,255,0.5);
	padding-bottom:0;
	padding-top:0;
}
.login-card h4{
	margin-bottom:5px;
}
.login-card h5{
	color:white;
	margin-top:0;
}
.login-card hr{
	
}
.login .bar{
	background:rgba(0,0,0,0.8);
	color:white;
}
/* login screen */


/* user avatar */
.avatar{
	position: absolute;
	top: 16px;
	left: 16px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
/* user avatar */


/* fancy select */
fancy-select .list {
  margin: -1px 0; }

/* Items */
/* line 13, ../scss/modules/_fancy-select.scss */
.fancy-select-items {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%; }
  /* line 19, ../scss/modules/_fancy-select.scss */
  .fancy-select-items .item {
    overflow: hidden;
    /* Clearfix */ }

/* line 24, ../scss/modules/_fancy-select.scss */
.fancy-select-items label p {
  height: 32px;
  line-height: 32px; }

/* line 29, ../scss/modules/_fancy-select.scss */
.fancy-select-icon {
  float: left;
  margin-right: 10px;
  width: 30px;
  text-align: center; }
/* fancy select */

