label.error .input-label{
	color:red;
}
label.noError .input-label{
	color:#387ef5;
}

.selectRow{
	overflow:hidden;
	padding-right:16px;
}

.selectRow .box{
	height:20px;
	padding:0;
	width:12%;
	float:left;
	margin:5px 0.25% 0;
	border:1px solid transparent;
	border-radius:3px;
	box-sizing:border-box;
	opacity:0.9;
}

.selectRow .box.current{
	opacity:1;
}

.selectRow .box i{
	font-size:10px;
	line-height:18px;
	height:20px;
	padding:0;
	width:100%;
	color:white;
}

.selectRow .box.big{
	background:rgba(0,0,0,0.05);
	height:40px;
}
.selectRow .box.big i{
	color:#222;
	font-size:1.5em;
}
.selectRow .box.big.current{
	background:#387ef5;
}
.selectRow .box.big.current i{
	color:white;
}



